<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <!-- Main Content -->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-4">Welcome to the <%= title %> Page</h1>
        <p class="col-md-8 fs-4">Hi, my name is Abdul and I hope to get better at web design</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>
    </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>
